/* Color Palette:
Tan: #fced5 
Pink: #ba7f70
Forest Green: #2b2c24
Navy Blue: #385c76
   
*/

/* Heading Colors */
    h1 {
    color: #385c76;
    }

        h2 {
        color: #385c76;
        }

             h3 {
            color: #385c76; 
            }

body {
    background-color: #fced5;
    color: #2b2c24;
    font-family: Courier New, Papyrus, sans-serif;
}

header {
    background-color: #385c76;
    padding: 20px;
}
div {
    width: 300px;
    height: 100px;
    background-color: #fced5;
    border: 2px solid #fced5;
    padding: 20px;
    margin: 30px;
}
/*Assignment 02*/

body {
    background-color: #fced5;
}

main {
    margin: 30px;
}

h1 {
    color: #385c76;
    font-family: Courier New, 'Papyrus';
}

p {
    color: #2b2c24;
    font-family: Courier New, 'Papyrus', Times, serif;
}

header {
    background-color: #fced5;
    padding: 20px;
}
