/* Color Palette:
navy blue: #385c76
green: #2b2c24
tan: #fced5
pink: #ba7f70
   
*/

/* Heading Colors */
    h1 {
    color: #2b2c24;
    }

        h2 {
        color: #2b2c24;
        }

             h3 {
            color:#2b2c24; 
            }

body {
    background-color: #fced5;
    color: #2b2c24;
    font-family: Courier New, Papyrus, sans-serif;
}

header {
    background-color: #fced5;
    padding: 20px;
}
div {
    width: 200px;
    height: 100px;
    background-color: #fced5;
    border: 2px solid #fced5;
    padding: 20px;
    margin: 60px;
}
/*Assignment 02*/

body {
    background-color: #fced5;
}

main {
    margin: 60px;
}

h1 {
    color: #2b2c24;
    font-family: Courier New, 'Papyrus';
}

p {
    color: #2b2c24;
    font-family: Courier New, 'Papyrus', Times, serif;
}

header {
    background-color: #fced5;
    padding: 20px;
}
